body{
   padding: 0!important;
   margin: 0!important;
   background-color: #fffee4;
   
}
a {
    text-decoration: none;
    color: #0043fa;
}
.firstDiv{
    padding:0 4%;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff200;
    width: 100%;
    height: 200px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}

.firstDiv div{
}

.firstDiv h4{
    position: relative;
    font-weight: 400;
}
.secondDiv{
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
}
.secondDiv div{
    padding: 20px 20px;
    background: #fff;
    border-radius: 10px;
  
    box-shadow: 0 7px 10px 0px rgba(81, 82, 41, 0.05);
}
.secondDiv span{
    position: relative;
    width: 100%!important;;
    font-weight: 600;
 
 }
.secondDiv a{
   position: relative;
    font-weight: 400;
    margin-top: 10px;
    display: block;
    font-size: 14px;
}
.flex{
    display: flex;

}
img{
    width: 100%;
    height: 100%;
    
    border-radius: 10px;
    margin-top: 7px!important;
    border: 2px solid rgba(86, 79, 39, 0.263);
}